body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    background-size: cover;
    background-position: center;
}

#weather-info {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    padding: 10px;
    margin: 10px 0;
}

.day-forecast {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.day-forecast .horizontal {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.day-forecast .horizontal .forecast-item {
    display: inline-block;
    background-color: #e0e0e0;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    min-width: 250px;
    box-sizing: border-box;
}

.weather-detail {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}
